.header {
  height: 5.25em;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}
