.header {
  height: 5.25em;
}

.header__row {
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    height: unset;
  }

  .header__row {
    display: none;
  }
}