.contentChangePassword{
    height: 25.05em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contentChangePassword__column{
    height: 25.05em;
    width: 19.44em;
    position: relative;
}

.changePasswordUser__border{
    width: 350px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}
.changePasswordUser{
    height: 19.77em;
}

.changePasswordUser__fields{
    height: 13.38em;
}