/* main of edit profile page */

.content-changePassword{
  height: 25.05em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-changePassword__column{
  height: 25.05em;
  width: 19.44em;
  position: relative;
}

.changePassword-user__border{
  width: 350px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.changePassword-user{
  height: 19.77em;
}

.changePassword-user__fields{
  height: 13.38em;
}

