.contentSignIn__socialNetwork {
 /* height: 3em;*/
 /* height: 1.67em;*/
  margin-top: -0.83em;

  width: 19.44em;
  max-width: 290px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .contentSignIn__socialNetwork {
    height: 35px;
    width: 100%;
  }
}
