.contentSignIn__socialNetwork {
  margin-top: -0.83em;
  width: 16.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentSignIn_socialItem{
  cursor: pointer;
}

@media (max-width: 768px) {
  .contentSignIn__socialNetwork {
    height: 1.94em;
    width: 100%;
    max-width: 16.11em;
    margin-top: 0;
  }
}
