.contentEditProfile {
  height: 31.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contentEditProfile__column {
  width: 19.44em;
  position: relative;
}

.editProfileUser__nav {
  height: 8.27em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.editProfileUser__changePassword {
  color: #F6A325;
  font-size: 1.33em;
  text-decoration: underline;
}

.editProfileUser__deleteProfile {
  margin: 0 auto;
  font-size: 0.89em;
  text-decoration: underline;
  position: absolute;
  bottom: 9.6em;
  background: transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
}

.editProfileUser__deleteProfile:hover {
  text-decoration: none;
}

.getDiscogsButton {
  background-color: #8D8989;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.39;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 4.72em;
  width: 15.56em;
  height: 2.78em;
}

.getDiscogsButton:hover {
  color: #333333;
}

.getDiscogsButton:disabled {
  background-color: #282c34;
  cursor: default;
}

@media (max-width: 768px) {
  .contentEditProfile__column {
    max-width: 17.22em;
    width: 100%;
  }

  .editProfileUser__nav {
    height: 167px;
    padding-top: 21px;
  }

  .contentEditProfile {
    height: 27em;
  }

  .editProfileUser__deleteProfile {
    bottom: 9.14em;
  }

  .editProfileUser__deleteProfile:hover {
    text-decoration: none;
  }

  .getDiscogsButton {
    bottom: 3.89em;
  }
}