.contentEditProfile {
  height: 28.22em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contentEditProfile__column {
  width: 19.44em;
  position: relative;
}

.editProfileUser__nav {
  height: 4.39em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.editProfileUser__changePassword {
  color: #F6A325;
  font-size: 1.33em;
  text-decoration: underline;
}

.editProfileUser__deleteProfile {
  margin: 0 auto;
  font-size: 0.77em;
  text-decoration: underline;
  position: absolute;
  bottom: 6.57em;
  background: transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
}

.editProfileUser__deleteProfile:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .contentEditProfile__column {
    max-width: 310px;
    width: 100%;
  }

  .editProfileUser__nav {
    height: 3.78em;
  }

  .contentEditProfile {
    height: 25.03em;
  }

  .editProfileUser {
    height: 17.77em;
  }

  .editProfileUser__deleteProfile {
    bottom: 5.56em;
  }

  .editProfileUser__deleteProfile:hover {
    text-decoration: none;
  }
}