.contentEditProfile{
    height: 23.66em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contentEditProfile__column{
    height: 23.05em;
    width: 19.44em;
    position: relative;
}

.editProfileUser{
    height: 17.77em;
}

.editProfileUser__fields{
    height: 7.22em;
}
.editProfileUser__nav{
    height: 6.66em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.editProfileUser__changePassword{
    color: #F6A325;
    font-size: 1.33em;
    text-decoration: underline;
}
.editProfileUser__deleteProfile{
    font-size: 0.77em;
    text-decoration: underline;
    padding-bottom: 3.64em;
}