
.contentSignIn__rectangleLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rectangleLine__orBetweenLine{
    width:2.7em;
    text-align: center;
    font-style: normal;
}

