.firstVinylsRow {
  display: flex;
}

.firstVinylsRowOneVinyl {
  border-bottom: thin solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}

.contentTitle {
  text-align: center;
  font-size: 1.33em;
  line-height: 1.37;
  font-weight: bold;
  height: 5.72em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1510px) {
  .firstVinylsRow {
    flex-direction: column;
    align-items: center;
  }

  .firstVinylsRowOneVinyl {
    padding-bottom: unset;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contentTitle {
    font-size: 1em;
    height: 61px;
  }

  .firstVinylsRowOneVinyl {
    width: 100%;
  }
}

@media (max-width: 382px) {
  .firstVinylsRow {
    font-size: 11px;
  }
}