.contentNewPassword {
  padding-top: 9.94em;
}

.contentNewPassword__column {

  width: 19.44em;
}

@media (max-width: 768px) {
  .newPasswordUser__fields {
    height: unset;
  }

  .contentNewPassword {
    height: unset;
    padding-top: 6.95em;
  }

  .newPasswordUser {
    height: unset;
    min-height: 12.78em;
  }

  .contentNewPassword__column {
    height: unset;
  }
}