.contentNewPassword {
  padding-top: 177px;
}

.contentNewPassword__column {

  width: 19.44em;
}

@media (max-width: 768px) {
  .newPasswordUser__fields {
    height: unset;
  }

  .contentNewPassword {
    height: unset;
    padding-top: 7.67em;
  }

  .newPasswordUser {
    height: unset;
    min-height: 230px;
  }

  .contentNewPassword__column {
    height: unset;
  }
}