.contentNewPassword {
  height: 23.59em;
}

.contentNewPassword__column {
  height: 18.64em;
  width: 19.44em;
}

.newPasswordUser {
  height: 13.36em;
}

.newPasswordUser__fields {
  height: 7.22em;
}