.about-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.about__title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
}

.about__text {
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__image{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}