.elementError input{
  border: darkred solid 4px;
}

.elementError textarea{
  border: darkred solid 4px;
}

.textError{
  color: #ff480b;
  font-size: 0.45em;
  padding-top: 0.1em;
  display: block;
}