.contentRegistrationPage {
  height: 30.70em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentRegistrationPage__column {
  height: 27.92em;
  width: 19.44em;
}

.registrationPageUser {
  height: 22.67em;
}

.registrationPageUser__fields {
  height: 16.11em;
}
.user__account{
  display: none;
}

@media (max-width: 768px) {
  .contentRegistrationPage {
    height: 575px;
  }
  .contentRegistrationPage__column {
    height: 518px;
    width: unset;
  }
  .registrationPageUser {
    height: 455px;
  }
  .registrationPageUser__fields {
    height: 260px;
  }
  .user__account{
    text-decoration: underline;
    text-transform: uppercase;
    height: 68px;
    display: flex;
    align-items: flex-end;
  }
}