.contentRegistrationPage {
  height: 33.22em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentRegistrationPage__column {
  width: 19.44em;
}

.registrationPageUser {
  height: 23.33em;
}

.registrationPageUser__fields {
  height: 18.89em;
}

.user__account {
  display: none;
}

@media (max-width: 768px) {
  .contentRegistrationPage {
    height: 30.06em;
  }

  .contentRegistrationPage__column {
    height: 483px;
    max-width: 17.22em;
    width: 100%;
  }

  .registrationPageUser {
    height: 420px;
  }

  .registrationPageUser__fields {
    height: 300px;
  }

  .user__account {
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
  }
}