.shopList__rowFirstTitle {
  height: 2.11em;
  display: flex;
  text-align: center;
  line-height: 1.1;
  justify-content: flex-start;
  width: 100%;
}

.shopList__item {
  height: 3.05em;
  width: 10.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopList__firstItemTitle {
  height: 1.42em;
  width: 4.08em;
  font-weight: bold;
  font-size: 24px;
}

.shopList__menuItem_active {
  color: #F7A325;
}

@media (max-width: 768px) {
  .shopList__rowFirstTitle {
    font-size: 0.78em;
    height: unset;
    display: flex;
    text-align: center;
    line-height: unset;
    justify-content: flex-start;
    width: 100%;
  }
}