.alertWrapper {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commonAlert {
  width: 41.66em;
  height: 11.11em;
  background-color: #1D1D1D;
}

.commonAlert_big {
  width: 47.22em;
  height: 13.33em;
}

.pageAlert {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pageAlert__picture {
  width: 1.67em;
  height: 2.33em;
  align-self: center;
}

.pageAlert__picture img {
  width: 100%;
}

.pageAlert__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 24.6em;
}

.pageAlert__message_big {
  width: 30.5em;
}

.pageAlert__closeButton {
  position: absolute;
  right: 1.56em;
  top: 1.17em;
  background-color: #1D1D1D;
}

.alert_navLink {
  text-decoration: underline;
}

.pageAlert__buttonsRow {
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pageAlert__yesNoButtons {
  width: 224px;
  display: flex;
  justify-content: space-between;
}

.pageAlert__answerButton {
  font-size: 18px;
  height: 40px;
  width: 100px;
  color: #000000;
  background-color: #C4C4C4;
}

.pageAlert__answerButton:hover {
  background-color: #8D8989;
}

@media (max-width: 920px) {
  .commonAlert_big {
    width: 40em;
  }
}

@media (max-width: 768px) {
  .commonAlert_big {
    width: 16.67em;
    height: 16.11em;
  }

  .pageAlert__message_big {
    width: 15.39em;
  }

  .pageAlert__buttonsRow {
    height: 3.61em;
  }

  .commonAlert {
    width: 16.67em;
  }

  .pageAlert__message {
    width: 15.39em;
  }

  .pageAlert__closeButton {
    right: 0.83em;
    top: 0.83em;
  }
}

@media (max-width: 335px) {
  .commonAlert_big {
    width: 14.44em;
  }

  .pageAlert__message_big {
    width: 13.33em;
  }

  .commonAlert {
    width: 14.44em;
  }

  .pageAlert__message {
    width: 13.33em;
  }
}