.shopList__rowSecondTitle {
  height: 2.56em;
  width: 45.5em;
  text-align: center;
  line-height: 2.56em;
}

.shopList__secondItemTitle {
  height: 2.5em;
}

.shopList__shopWidth {
  width: 10.83em;
}