.contentRecoveryPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.94em;
}

.contentRecoveryPassword__column {
  width: 19.44em;
}

@media (max-width: 768px) {
  .contentRecoveryPassword__column {
    max-width: 310px;
    width: 100%;
    height: unset;
  }

  .contentRecoveryPassword {
    height: 19.78em;
    padding-top: 6.95em;
  }

  .recoveryUser {
    height: unset;
    min-height: 8.61em;
  }
}