.contentRecoveryPassword {
  height: 18.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top:4.61em;
}

.contentRecoveryPassword__column {
  height: 14.75em;
  width: 19.44em;
}

.recoveryUser {
  height: 9.47em;
}

.recoveryUser__fields {
  height: 2.78em;
}

@media (max-width: 768px) {
  .contentRecoveryPassword__column {
    max-width: 310px;
    width: 100%;
    height: unset;
  }

  .contentRecoveryPassword {
    height: 19.78em;
    padding-top: 7.67em;
  }

  .recoveryUser {
    height: unset;
    min-height: 8.61em;
  }
}