.contentRecoveryPassword {
  height: 18.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentRecoveryPassword__column {
  height: 14.75em;
  width: 19.44em;
}

.recoveryUser {
  height: 9.47em;
}

.recoveryUser__fields {
  height: 2.78em;
}