.contentSignIn {
  height: 25.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentSignIn__column {
  height: 25.61em;
  width: 19.44em;
}

.signInUser {
  height: 14.39em;
}


@media (max-width: 768px) {
  .signInUser {
    height: unset;
  }
}

.signInUser__fields {
  height: 9em;
}

@media (max-width: 768px) {
  .contentSignIn {
    padding: 70px 0;
  }
}

.signInUser__register{
  display: none;
}

@media (max-width: 768px) {
  .signInUser__register {
    display: flex;
    text-decoration: underline;
    color: #F6A325;
    padding-top: 40px;

  }
}