.contentSignIn {
  height: 29.83em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contentSignIn__column {
  width: 19.44em;
}

.signInUser {
 height: 13.89em;
}

.signInUser__fields {

}

.signInUser__register {
  display: none;

}

@media (max-width: 768px) {
  .contentSignIn {
   /* height: 447px;
    padding: 70px 0;*/
    height: 500px;
  }

  .contentSignIn__column {
    height: 452px;
    width: 100%;
    max-width: 17.22em;
  }

  .signInUser {
    /*height: 17.78em;*/
    height: 12.78em;
  }

  .signInUser__fields {
    height: 154px;
  }

  .signInUser__register {
    text-decoration: underline;
    text-transform: uppercase;
    color: #F6A325;
    height: 3.29em;
    display: flex;
    align-items: flex-end;
  }
}