.contentSignIn {
  height: 25.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentSignIn__column {
  height: 25.61em;
  width: 19.44em;
}

.signInUser {
  height: 14.39em;
}

.signInUser__fields {
  height: 9em;
}

.signInUser__register {
  display: none;

}

@media (max-width: 768px) {
  .contentSignIn {
    height: 447px;
    padding: 70px 0;
  }
  .contentSignIn__column {
    height: 447px;
    width: 100%;
  }
  .signInUser {
    height: 225px;
  }
  .signInUser__fields {
    height: 154px;
  }
  .signInUser__register {
    text-decoration: underline;
    text-transform: uppercase;
    color: #F6A325;
    height: 64px;
    display: flex;
    align-items: flex-end;
  }
}