.aboutContentMobile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.about__titleMobile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
}

.about__textMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__imageMobile{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

