.contentProfile {
  height: 23.09em;
}

.contentProfile__column {
  width: 19.44em;
}

.profileUser {
  height: 13.89em;
}

@media (max-width: 768px) {
  .contentProfile {
    height: 22.11em;
  }

  .profileUser {
    height: 13.33em;
  }

  .contentProfile__column {
    max-width: 17.22em;
  }
}