.searchNone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchNone__one {
  font-weight: bold;
  font-size: 1.56em;
  line-height: 1.36em;
  color: #F7A325;
  height: 2.6em;
  text-align: center;
}

.searchNone__two {
  font-weight: bold;
  font-size: 1.44em;
  line-height: 1.36em;
  height: 1.73em;
}

.searchNone__ulSearch {
  font-weight: bold;
  font-size: 1.33em;
  line-height: 1.38em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: -2.5px 0;
}

.searchNone__ulSearch li {
  list-style: none;
  padding: 2.5px 0;
}

.searchNone__three {
  font-weight: bold;
  font-size: 1.44em;
  line-height: 1.36em;
  height: 2.51em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


@media (max-width: 768px) {

  .searchNone__ulSearch {
    font-size: 14px;
    line-height: 1.36em;
    align-items: flex-start;
    flex: 1 0 8.93em;
    align-self: flex-start;
  }

  .searchNone__three {
    text-align: start;
    font-size: 14px;
    line-height: 1.36em;
    align-self: flex-start;
    flex: 0 0 2.79em;
  }

  .searchNone__one {
    font-size: 18px;
    line-height: 1.39em;
    height: 2.78em;
  }

  .searchNone__two {
    font-size: 14px;
    line-height: 1.36em;
    flex: 0 0 2.43em;
    align-self: flex-start;
  }

  .searchNone__ulSearch li {
    text-align: left;
  }
}