.searchNone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchNone__one {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding-bottom: 34px;
}

.searchNone__two {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 10px;
}

.searchNone__ulSearch {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchNone__ulSearch li {
  list-style: disc;
}

.searchNone__three {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
}