.searchNone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchNone__one {
  font-weight: bold;
  font-size: 1.56em;
  line-height: 1.36em;
  color: #F7A325;
  height: 2.6em;
}

.searchNone__two {
  font-weight: bold;
  font-size: 1.44em;
  line-height: 1.36em;
  height: 1.73em;
}

.searchNone__ulSearch {
  font-weight: bold;
  font-size: 1.33em;
  line-height: 1.38em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 4.55em;
  justify-content: space-between;
  text-align: center;
}

.searchNone__ulSearch li {
  list-style: none;
}

.searchNone__three {
  font-weight: bold;
  font-size: 1.44em;
  line-height: 1.36em;
  height: 2.51em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

