.aboutContent {
  padding: 3.55em 0;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBody__title {
  padding-bottom: 0.83em;
}

.aboutBody__image {
  padding-top: 3.33em;
}

.aboutBody__secondTitle {
  padding-top: 2.78em;
}
