.aboutContent {
  padding: 5.83em 0;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBody__title {
  padding-bottom: 0.42em;
}

.aboutBody__image {
  padding-top: 3.33em;
}

.aboutBody__secondTitle {
  padding-top: 1.39em;
}
