.aboutContent {
  height: 38.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41.67em;
  margin: 0 auto;
}

.aboutBody__title {
  height: 2.33em;
}

.aboutBody__image {
  height: 7.72em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutBody__text {
  align-self: flex-start;
  line-height: 1.37em;
}

.aboutBody__text_intro {
  height: 5.4em;
}

.aboutBody__text_discogs {
  height: 8.17em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.aboutBody__list_features {
  color: #F6A325;
}

.aboutBody__list {
  align-self: flex-start;
}

.aboutBody__list_features {
  height: 5.44em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutBody__list li {
  list-style-type: '- ';
  margin-left: 11px;
  color: white;
}

.searchAreaContainer {
  height: 6em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 768px) {
  .aboutContent {
    height: 34.33em;
  }

  .aboutBody {
    width: 17.22em;
  }

  .searchAreaContainer {
    display: none;
  }

  .aboutBody__title {
    height: 2.6em;
  }

  .aboutBody__text_intro {
    height: 9.37em;
  }

  .aboutBody__text_discogs {
    height: 13.39em;
  }


  .aboutBody__text {
    font-size: 0.83em;
  }

  .aboutBody__list {
    font-size: 0.83em;
  }

  .aboutBody__list_features {
    height: 6.76em;

  }

  .aboutBody__list span {
    margin-left: 0;
  }

  .aboutBody__image {
    display: none;
  }
}

@media (max-width: 382px) {

  .aboutBody {
    width: 13.89em;
  }

  .aboutBody__text {
    font-size: 0.7em;
  }

  .aboutBody__text_intro {
    height: 10.37em;
  }

  .aboutBody__text_discogs {
    height: 15.39em;
  }

  .aboutBody__list {
    font-size: 0.7em;
  }

  .aboutContent {
    height: 31.78em;
  }
}

@media (max-width: 300px) {

  .aboutBody {
    width: 13.06em;
  }
}