.aboutContent {
  height: 29.17em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23.33em;
}

.aboutBody__title {
  height: 2.75em;
}

.aboutBody__image {
  height: 7.72em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutBody__text {
  max-width: 31.25em;
  font-size: 1.33em;
  text-align: center;
  height: 3.79em;
}

.searchAreaContainer {
  height: 6em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 768px) {
  .aboutContent {
    height: unset;
  }

  .searchAreaContainer {
    display: none;
  }

  .aboutBody__title {
    padding: 4.17em 0 2.5em 0;
  }

  .aboutBody__text {
    font-size: 0.78em;
    padding-bottom: 0.83em;
    height: unset;
  }

  .aboutBody__image {
    padding-top: 3.5em;
    height: unset;
  }
}