/* main of home page */

.contentHome {
  height: 26.05em;
}

.contentHome__logo {
  display: none;
}

.contentHome__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20.93em;
  width: 52.55em;
}

.contentHome__title {
  display: flex;
  flex-direction: column;
  height: 6.56em;
  text-align: center;
}

.contentHome__subtitle {
  height: 11.15em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .contentHome {
    height: 18.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contentHome__logo {
    display: flex;
    justify-content: flex-start;
  }

  .contentHome__column {
    height: 13.94em;
    width: 100%;
    max-width: 17.22em;
  }

  .contentHome__title {
    height: 7.57em;
  }

  .contentHome__title h1 {
    font-size: 1.33em;
    text-align: center;
  }

  .contentHome__subtitle {
    height: 6.2em;
    width: 100%;
  }

  .contentHome__subtitle h2 {
    font-size: 0.78em;
    line-height: 1.4;
  }
}
