.contentHome {
  height: 25.33em;
}

.contentHome__logo {
  display: none;
}

.contentHome__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*height: 20.93em;*/
  width: 52.55em;
}

.contentHome__title {
  display: flex;
  flex-direction: column;
  height: 9.44em;
  text-align: center;
}

.contentHome__title_titleRow {
  line-height: 1.37em;
}

.contentHome__subtitle {
  height: 8.27em;;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contentHome__subtitle_rows {
  font-size: 1.33em;
  width: 22.05em;
}

@media (max-width: 913px) {
  .contentHome {
    height: 28.94em;
  }

  .contentHome__title {
    height: 235px;
  }
}

@media (max-width: 768px) {

  .contentHome {
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contentHome__logo {
    display: flex;
    justify-content: flex-start;
  }

  .contentHome__column {
    height: unset;
    padding-top: 3.61em;
    width: 100%;
    max-width: 17.22em;
  }

  .contentHome__title {
    height: unset;
    padding-bottom: 1.67em;
  }

  .contentHome__title h1 {
    font-size: 1.34em;
    text-align: center;
  }

  .contentHome__subtitle {
    height: unset;
    padding-top: 1.39em;
    width: 100%;
    align-items: center;
  }

  .contentHome__subtitle h2 {
    font-size: 0.84em;
    line-height: 1.35;
  }

  .contentHome__subtitle_rows {
    width: 20.5em;
  }
}

@media (max-width: 382px) {
  .contentHome__subtitle_rows {
    width: 13.87em;
  }
}