.firstVinyl__wrapper {
  width: 35.39em;
  display: flex;
}

.firstVinyl__item {
  flex: 0 0 30.45em;
  position: relative;
}

.firstVinyl__image {
  height: 30.45em;
}

.firstVinyl__image img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.vinylTipText {
  top: 665px;
}

.firstVinyl__artist {
  font-size: 2em;
  line-height: 1.36;
  width: 548px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstVinyl__artist:hover .vinylTipText {
  visibility: visible;
}

.firstVinyl__release {
  font-size: 1.34em;
  line-height: 1.37;
  width: 548px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstVinyl__release:hover .vinylTipText {
  visibility: visible;
}

@media (max-width: 1510px) {
  .firstVinyl__wrapper {
    justify-content: center;
    border-bottom: thin solid rgba(255, 255, 255, 0.5);
    width: unset;
  }

  .firstVinyl__image {
    height: 25em;
  }

  .firstVinyl__artist {
    text-align: center;
    padding-top: 30px;
  }

  .firstVinyl__release {
    text-align: center;
  }

  .vinylTipText {
    top: 565px;
  }
}

@media (max-width: 868px) {
  .firstVinyl__image {
    height: 25em;
  }
}

@media (max-width: 768px) {
  .firstVinyl__image {
    height: 11.11em;
  }

  .firstVinyl__artist {
    text-align: unset;
    font-size: 1em;
    width: unset;
    align-self: flex-start;
    padding-top: unset;
    height:34px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    max-width: 310px;
    width:100%;
  }

  .firstVinyl__release {
    text-align: unset;
    font-size: 0.78em;
    width: unset;
    align-self: flex-start;
    height:27px;
    display: flex;
    align-items: center;
    max-width: 310px;
    width:100%;
  }

/*  .firstVinyl__artist {
    width: unset;
  }

  .firstVinyl__release {
    width: unset;
  }*/

  .firstVinyl__item {
    flex: 0 0 17.22em;
    position: unset;
  }

  .firstVinyl__wrapper {
    width: unset;
  }




}