.contentContactUsPage {
  height: 34.06em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contentContactUsPage__column {
  width: 19.44em;
}

.contactUsPageUser {
  height: 24.17em;
}

.contactUsPageUser__fields {
}

@media (max-width: 768px) {
  .contentContactUsPage {
    /*height: 30.51em;*/
    height: 27em;
  }

  .contactUsPageUser {
    /*height: 24.17em;*/
    height: 20.83em;
  }


  .contentContactUsPage__column {
    /*height: 483px;*/
    height: 24.33em;
    max-width: 17.22em;
    width: 100%;
  }
}

