/* base */

body{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  background: url("./img/background.jpg") no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.wrapperHome{
  background: url("./img/background_home.jpg") no-repeat fixed center;
  background-size: cover;
}

.container{
  max-width: 96.7em;
  margin: 0 auto;
}

.subContainer{
  max-width: 79.88em;
}

.button {
  text-transform: uppercase;
  display: block;
  font-size: 0.78em;
  width: 10.21em;
  height: 2.72em;
  line-height: 2.72;
  text-align: center;
  font-weight: bold;
}

.onStockButton{
  color: #000;
  background-color: #fff;
}

.onStockButton:hover{
  color: #F7A325;
}

.onStockButton:active{
  border: 1px solid #F7A325;
  color: #F7A325;
}

.outOfStockButton{
  color: #000;
  background-color: #8D8989;
  pointer-events: none;
  cursor: default;
}

a{
  color: #ffffff;
}

.underlineLink{
  text-decoration: underline;
}

h1 {
  font-size: 2.67em;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.03em;
}

/* search field */

/* setting the color and transparent settings for the placeholder */
.search__input::-webkit-input-placeholder {color:#C4C4C4; opacity:1;}/* webkit */
.search__input::-moz-placeholder          {color:#C4C4C4; opacity:1;}/* Firefox 19+ */
.search__input:-moz-placeholder           {color:#C4C4C4; opacity:1;}/* Firefox 18- */
.search__input:-ms-input-placeholder      {color:#C4C4C4; opacity:1;}/* IE */
.search__input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
.search__input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
.search__input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
.search__input:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.search{
  height: 3.22em;
  width: 51.5em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.search__input{
  height: 2.42em;
  padding-left: 1.11em;
  font-size: 24px;
  color: #C4C4C4;
  background: rgba(151, 151, 151, 0.53);
  flex: 1 1 auto;
}

.search__button{
  background-image: url("data:image/svg+xml,%3Csvg width='57' height='56' viewBox='0 0 57 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.701451' d='M0.323242 0H56.074V56H0.323242V0Z' fill='%23F7A325'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.6751 34.8108C20.5766 34.8108 16.4434 30.5999 16.4434 25.4054C16.4434 20.2109 20.5766 16 25.6751 16C30.7736 16 34.9067 20.2109 34.9067 25.4054C34.9067 27.6522 34.1335 29.715 32.8433 31.3326L39.7203 38.339C40.0932 38.719 40.0932 39.335 39.7203 39.715C39.3473 40.095 38.7427 40.095 38.3697 39.715L31.4927 32.7086C29.905 34.023 27.8803 34.8108 25.6751 34.8108ZM25.6744 32.8649C29.7181 32.8649 32.9961 29.5251 32.9961 25.4054C32.9961 21.2857 29.7181 17.9459 25.6744 17.9459C21.6308 17.9459 18.3528 21.2857 18.3528 25.4054C18.3528 29.5251 21.6308 32.8649 25.6744 32.8649Z' fill='white'/%3E%3C/svg%3E%0A");
  cursor: pointer;
  height: 58px;
  width: 58px;
  opacity: 0.8;
  border: 2px solid rgba(151, 151, 151, 0.53);
  border-left: none;
}

/* main */

.main{
  flex: 1 1 auto;
}

.content{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user__message{
  height: 3.89em;
  font-size: 1.4em;
}

.directions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions_message{
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding-bottom: 34px;
}

.contentColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2{
  font-size: 2em;
  line-height: 1.4;
  text-align: center;
}