.content-loginPage {
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content-user__title {
    height: 106px;
    display: flex;
    align-items: flex-end;
}
.content-loginPage__form {
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-user__fields {
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user__label {
    height: 50px;
    width: 310px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.user__submit-input {
    text-align: center;
    width: 140px;
    height: 40px;
    background-color: #F6A325;
    color: white;
}
.user__forgot-password {
    text-align: center;
    text-transform: uppercase;
}
.user-loginPage__or {
    height: 45px;
    display: flex;
    align-items: center;
}
.user-loginPage__or:before,
user-loginPage__or:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid white;
    margin: auto;
}
.user__or:before {
    margin-right: 28px
}
.user__or:after {
    margin-left: 28px
}
.user__social-media {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.user__email-register {
    text-transform: uppercase;
    color: #F6A325;
}