
.wrapper {
  background: url("../../../assets/img/mobile_stores/mobile_background.jpg") no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1004px;
  height: 867px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
}

.container {
  max-width: 306px;
  margin: 0 auto;
}


