.header__menu {
  flex: 1 1 auto;
  height: 5.22em;
}

.header__menuList {
  display: flex;
  height: 3.6em;
  min-width: 31em;
  max-width: 49.5em;
  width: 67%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.header__menuList li {
  line-height: 1;
}

.header__menuItem {
  color: #ffffff;
  text-transform: uppercase;
}

.header__menuItem_active {
  color: #F7A325;
}

@media (max-width: 945px) {
  .header__menuItem {
    font-size: 14px;
  }

  .header__menuList {
    min-width: 28em;
  }
}