.shopsContent {
  max-width: 62em;
  margin: 0 auto;
}


.allShops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -3.3em;
  align-content: flex-start;
}

@media (max-width: 768px) {
  .shopsContent {
    padding: unset;
    max-width: 100%;
  }

  .shopsContent__row {
    padding-top: 1.17em;
  }

  .allShops {
    margin: -1.39em 0;
  }
}